@media screen and (max-width: 820px) {
  .main {
    margin-top: 60px;
  }

  .content-frame {
    width: 80%;
    margin: 20px 0px;
  }
  .index_head_title {
    width: 80%;
    height: 60px;
  }
  .index_head_title_name {
    font-size: 20px;
    margin: 0px 10px;
  }

  .index_head_title i {
    font-size: 20px;
  }
  .index_head_title_you {
    font-size: 20px;
    font-weight: 700;
    top: -10px;
  }
  .index_head_sub {
    font-size: 18px;
  }

  .index_head_icon {
    font-size: 18px;
  }

  .index_head_img .bookcover {
    margin: 20px 0px;
    height: 300px;
  }

  .footer-box {
    width: 80%;
    flex-direction: column;
    align-items: center;
  }

  .footer_right {
    font-size: 30px;
    margin-top: 20px;
  }

  .footer_title_list,
  .footer_content_list {
    font-size: 12px;
  }
  .main_title {
    font-size: 40px;
  }

  .main_sub-title {
    font-size: 13px;
  }
  .nav-bar,
  .nav-bar1,
  .nav-bar2,
  .nav-bar3 {
    margin-top: 30px;
    width: 70%;
  }
  .nav-bar .list,
  .nav-bar1 .list,
  .nav-bar2 .list,
  .nav-bar3 .list {
    font-size: 15px;
  }

  .intro_author_img {
    display: none;
  }

  .intro_author_content h3 {
    font-size: 20px;
  }

  .intro_author_content span {
    font-size: 15px;
  }

  .about-book .about-book_title,
  .intro_review .about-review_title {
    font-size: 20px;
  }

  .about-book_partone,
  .about-book_parttwo {
    display: flex;
  }

  .partone_content_up .partone_content_up_1,
  .partone_content_up .partone_content_up_2,
  .parttwo_content_up .parttwo_content_up_1,
  .parttwo_content_up .parttwo_content_up_2 {
    font-size: 15px;
  }

  .partone_content .partone_content_down,
  .partone_content .partone_content_down,
  .parttwo_content .parttwo_content_down,
  .parttwo_content .parttwo_content_down {
    font-size: 15px;
  }

  .intro_review_column .intro_review_info {
    font-size: 15px;
    margin-right: 10px;
  }

  .intro_review_column .intro_review_content {
    font-size: 15px;
  }
}
